@import '@styles/common';

.heroWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    min-height: 100dvh;
    padding: 0 var(--space-lg);

    .heroImage {
        flex-grow: 1;
        height: 100%;
        width: 100%;
    }

    @include screen-size('lg') {
        flex-wrap: nowrap;
        flex-direction: row;

        .heroImage {
            width: 50%;
        }
    }
}
