@import '@styles/common';

.heroIntroWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-lg);
    padding-top: 10rem;

    .heroSlogan {
        font-size: 2rem;
        text-align: center;
    }

    @include screen-size('lg') {
        padding-top: 0;
        width: 50%;

        .heroSlogan {
            font-size: 3rem;
            font-weight: 800;
            text-align: left;
        }
    }
}
