$font-name: 'Montserrat';
$font-path: '../fonts';
$font-list: (
        name: 'Montserrat-Regular',
        weight: normal,
    ),
    (
        name: 'Montserrat-Medium',
        weight: 500,
    ),
    (
        name: 'Montserrat-Bold',
        weight: bold,
    ),
    (
        name: 'Montserrat-SemiBold',
        weight: 600,
    ),
    (
        name: 'Montserrat-ExtraBold',
        weight: 800,
    );

@each $font in $font-list {
    $name: map-get($font, name);
    $path: '#{$font-path}/#{$name}';

    @font-face {
        font-display: swap;
        font-family: $font-name;
        src: url('#{$path}.ttf');
        font-weight: map-get($font, weight);
    }
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(1rem, 0.75rem + 1.5vw, 1.2rem);
}
