@import './common.scss';

* {
    color: var(--color-text);
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: var(--color-background-light);
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.3rem;
}

h6 {
    font-weight: 600;
}

p {
    font-size: 0.9rem;
}

*[role='button'] {
    transition: var(--transition-fast);
}

*[role='button']:hover {
    background: var(--color-secondary);
}

