@import './common.scss';

* {
    color: var(--color-text);
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: var(--color-background-light);
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    overflow: hidden;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.3rem;
}

h6 {
    font-weight: 600;
}

p {
    font-size: 0.9rem;
}

*[role='button'] {
    transition: var(--transition-fast);
}

*[role='button']:hover {
    background: var(--color-secondary);
}

@include screen-size('lg') {
    main {
        gap: var(--space-xl);
    }

    // h3 {
    //     font-size: 2rem;
    // }
}
