@import '@styles/common';

.heroWrapper {
    align-items: center;
    background: url(../../../assets/images/hero-background.svg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    min-height: 100dvh;
    padding: 0 var(--space-lg);

    .heroImage {
        flex-grow: 1;
        height: 100%;
        width: 100%;
    }

    @include screen-size('lg') {
        background: url(../../../assets/images/hero-background-big.svg) no-repeat;
        background-size: cover;
        background-position: 0 90%;
        flex-wrap: nowrap;
        flex-direction: row;

        .heroImage {
            width: 50%;
        }
    }
}
