@import '@styles/common';

.navbar {
    padding: var(--space-lg);
    transition: var(--transition-default);
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;

    .navbarContent {
        align-items: flex-start;
        display: flex;
        margin: 0 auto;
        max-width: 1200px;

        @include screen-size('lg') {
            align-items: center;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }

    .overlay {
        background: var(--gradient-menubar);
        box-shadow: var(--shadow-default);
        height: 100%;
        opacity: 0;
        transform: translateY(-100%);
        transition: var(--transition-default);
        width: 100%;

        position: absolute;
        top: 0;
        left: 0;
    }

    &.scrolled {
        .overlay {
            opacity: 1;
            transform: translateY(0);
        }

        svg {
            transform: scale(0.9) translateY(-25%);
        }
    }
}
