@import '@styles/common';

.btn {
    background: var(--color-primary);
    border: none;
    border-radius: 5px;
    color: var(--color-text-light);
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    padding: 10px 20px;

    @include screen-size('lg') {
        font-size: 0.6rem;
    }
}
