@import '@styles/common';

.ctaBtn {
    background: var(--color-primary);
    border: none;
    border-radius: 5px;
    color: var(--color-text-light);
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    padding: var(--space-sm) var(--space-md);
    text-decoration: none;

    &.bordered {
        border: 1px solid var(--color-text-light);
    }
}
